@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ------------------
     GLOBAL STYLES 
   ------------------ */

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: dimgray;
    font-family: "Roboto";
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

/* ------------------
       TYPOGRAPHY 
   ------------------ */

.text-center{
    text-align: center;
}

select:disabled{
    color: black;
}

.showHide:hover{
    color: white;
}

/* ------------------
         LAYOUT 
   ------------------ */

.setup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    
}

.submit{
    padding: .5em 1em;
    width: 100px;
}

.groups > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: auto;
}

.header{
    min-width: 476px;
    padding: 5px;
    font-weight: bold;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tableRow{
    display: flex;
    gap: 2px;
}

.tableRow > div{
    padding: 5px;
    min-width: 110px;
}

.showHide{
    min-width: 476px;
    padding: 5px;
    cursor: pointer;
}

.matchesContainer{
    display: none;
    flex-direction: column;
    gap: 5px;
}

.match{
    display: flex;
    gap: 5px;
}

.matchup{
    min-width: 220px; 
    display: flex;  
    gap: 2px;
}

.playerDiv{
    min-width: 100px;
}

.playerSelect, .scoreSelect{
    width: 80px;
    padding: 5px;
}

.reset{
    display: none;
    padding: .5em 1em;
    margin-top: 10px;
}

/* ------------------
       COMPONENTS 
   ------------------ */

select{
    cursor: pointer;
}

button{
    cursor: pointer;
}

input[type="submit"]{
    cursor: pointer;
}

.group-setup{
    padding: 5px;
}

.matchup > div{
    padding: 5px;
}

h2, h3{
    margin: 10px 0;
}

/* ------------------
        COLORING 
   ------------------ */

.bg-clr-gray{
    background-color: darkgray;
}

.bg-clr-green{
    background-color: rgb(221, 244, 221);
}

.bg-clr-yellow{
    background-color: rgb(229, 244, 198);
}

.bg-clr-red{
    background-color: rgb(251, 223, 223);
}