@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --clr-light: hsl(0, 0%, 98%);
    --clr-gray: hsl(0, 0%, 66%);
    --clr-dark: hsl(0, 0%, 27%);

    --clr-light-blue: hsl(218, 35%, 51%);
    --clr-dark-blue: hsl(218, 35%, 47%);

    --clr-win: hsl(120, 51%, 91%);
    --clr-advance: hsl(80, 68%, 87%);
    --clr-lose: hsl(0, 78%, 93%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    min-height: 100vh;
    margin: 0;

    background-color: var(--clr-dark);
    font-family: "Roboto";

    overflow-y: auto;
}

@supports(overflow-y: overlay){
    body{
        overflow-y: overlay;
    }
}

h2,
h3 {
    margin: 10px 0;
}

/* Typography */

select:disabled {
    color: var(--clr-dark);
}

.showHide:hover {
    color: var(--clr-light);
}

/* Layout */

.setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.groups > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: auto;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tableRow {
    display: flex;
    gap: 2px;
}

.matchesContainer {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.match {
    display: flex;
    gap: 5px;
}

.matchup {
    display: flex;
    gap: 2px;
    min-width: 220px;
}

/* Components */

.header {
    min-width: 476px;
    padding: 5px;
    font-weight: bold;
}

.tableRow > div {
    padding: 5px;
    min-width: 110px;
}

.showHide {
    min-width: 476px;
    padding: 5px;
    cursor: pointer;
}

.playerDiv {
    min-width: 100px;
}

.playerSelect,
.scoreSelect {
    width: 80px;
    padding: 5px;
}

select {
    cursor: pointer;
}

.group-setup {
    padding: 5px;
}

.matchup > div {
    padding: 5px;
}

/* Buttons */

button {
    cursor: pointer;
    background-color: var(--clr-dark-blue);
    border: none;
    border-radius: .2rem;
    color: var(--clr-light);
}

button:hover{
    background-color: var(--clr-light-blue);
}

.submit {
    width: 100px;
    padding: 0.5em 1em;
}

.reset {
    display: none;
    padding: 0.5em 1em;
    margin-top: 10px;
    width: 150px;
}

/* Utility classes */

.bg-clr-gray {
    background-color: var(--clr-gray);
}

.bg-clr-green {
    background-color: var(--clr-win);
}

.bg-clr-yellow {
    background-color: var(--clr-advance);
}

.bg-clr-red {
    background-color: var(--clr-lose);
}

.text-center {
    text-align: center;
}

.text-clr-light{
    color: var(--clr-light);
}